@model IEnumerable<Employee>

<div class="table-responsive">
	<table class="table table-hover table-striped table-bordered text-center align-middle fade-in">
		<thead class="table-dark">
			<tr>
				<th><i class="fa-solid fa-image-portrait"></i>Image</th>
				<th><i class="fas fa-user"></i> Name</th>
				<th><i class="fas fa-calendar"></i> Age</th>
				<th><i class="fas fa-map-marker-alt"></i> Address</th>
				<th><i class="fas fa-envelope"></i> Email</th>
				<th><i class="fas fa-dollar-sign"></i> Salary</th>
				<th><i class="fas fa-phone"></i> Phone</th>
				<th><i class="fas fa-calendar-alt"></i> Hiring Date</th>
				<th><i class="fas fa-clock"></i> Created At</th>
				<th><i class="fas fa-building"></i> Department</th>
				<th><i class="fas fa-toggle-on"></i> Is Active</th>
				<th><i class="fas fa-trash"></i> Is Deleted</th>
				<th><i class="fas fa-info-circle"></i> Details</th>
				<th><i class="fas fa-edit"></i> Update</th>
				<th><i class="fas fa-trash-alt"></i> Delete</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var employee in Model)
			{
				<tr>
					<td>
						<img src="~/files/images/@employee.ImageName" class="img-fluid rounded-circle" />
					</td>
					<td>@employee.Name</td>
					<td>@employee.Age</td>
					<td>@employee.Address</td>
					<td>@employee.Email</td>
					<td>@employee.Salary.ToString("C")</td> <!-- Formatted as currency -->
					<td>@employee.Phone</td>
					<td>@employee.HiringDate.ToShortDateString()</td>
					<td>@employee.CreateAt.ToShortDateString()</td>
					<td>@(employee.Department?.Name ?? "No Department")</td>
					<td>
						<span class="badge @(employee.IsActive ? "bg-success" : "bg-secondary")">
							<i class="fas @(employee.IsActive ? "fa-check-circle" : "fa-times-circle")"></i>
							@(employee.IsActive ? "Active" : "Inactive")
						</span>
					</td>
					<td>
						<span class="badge @(employee.IsDeleted ? "bg-danger" : "bg-secondary")">
							<i class="fas @(employee.IsDeleted ? "fa-trash" : "fa-check")"></i>
							@(employee.IsDeleted ? "Deleted" : "Available")
						</span>
					</td>
					<partial name="_ButtonsPartialView" model="@employee.Id.ToString()" />
				</tr>
			}
		</tbody>
	</table>
</div>